.IMP, .NOT, .AND, .OR{
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #444;
}
.AND, .OR{
    flex-direction: column;
}
.operator{
    margin: 5px;
    color: aliceblue;
    text-shadow: 0 0 1px aliceblue;
}
